._3kV4n {
    padding-right: 8px;
    padding-left: 8px;
    width: 20%;
}
._1X3Cw:hover {
    border-radius: 5px;
    background-color: rgba(234,239,243,.5);
}
._1X3Cw:active, ._2GMt3 {
    background: linear-gradient(
261deg
,rgba(246,155,0,.18824),rgba(237,106,0,.18824))!important;
    border: 1px solid #f07b00!important;
}
._1X3Cw {
    margin-top: 16px;
    padding: 8px 7px;
    border-radius: 5px;
    border: 1px solid #dde5eb;
    background-color: #fff;
    cursor: pointer;
}
.text-center {
    text-align: center!important;
}
._1jMfy {
    width: 72px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.C7tbs {
    margin-right: -8px;
    margin-left: -8px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
ol, ul {
    list-style: none;
}
/*dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}*/
*{
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

/*ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}*/
div {
    display: block;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
._3kV4n button {
    margin-top: 16px;
    height: 55px;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.AgO6q {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .7px;
    color: #ed6b00;
}
._3BmFU {
    height: 38px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 100%;
    background-color: #ed6c0d;
    background: transparent;
    padding: 0;
    line-height: 2.5;
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
button, button:focus {
    border: none;
}
button, input {
    overflow: visible;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
._1y27t, ._1y27t p, ._1y27t strong {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    color: #465166;
}
._1y27t {
    margin-bottom: 24px;
}
._1y27t:after {
    margin-top: 8px;
    content: "";
    width: 41px;
    height: 4px;
    background-image: linear-gradient(
264deg
,#f69b00,#ed6a00);
    display: block;
    border-radius: 2px;
}
._185jp {
    padding-bottom: 24px;
    font-size: 18px;
    font-weight: 500;
    color: #465166;
    display: block;
}
.jVs6G a {
    color: #ed6c0d!important;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 600;
}
.jVs6G {
    font-size: 16px;
    color: rgba(70,81,102,.7);
    display: block;
    padding-top: 24px;
    padding-left: 0;
}
._3wblF {
    font-size: 20px;
    font-weight: 500;
    color: #465166;
    line-height: 48px;
}.css-1pcexqc-container {
    position: relative;
    box-sizing: border-box;
}.search-select-container .search-select-no-icon__control, .search-select-container .search-select__control {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #dde5eb;
    background-color: #fff;
    font-size: 14px;
    color: rgba(70,81,102,.5);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}
.search-select-container .search-select__control {
    padding-left: 31px;
}
<style>
.css-bg1rzq-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}
.css-1hwfws3 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.css-1wy0on6 {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}
.search-select__value-container {
    padding-left: 0!important;
}
.css-1g6gooi {
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    visibility: visible;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
}
element.style {
    display: inline-block;
}
element.style {
    box-sizing: content-box;
    width: 2px;
    background: 0px center;
    border: 0px;
    font-size: inherit;
    opacity: 1;
    outline: 0px;
    padding: 0px;
    color: inherit;
}
element.style {
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    height: 0px;
    overflow: scroll;
    white-space: pre;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
}
.search-select-container .search-select-no-icon__control .search-select-no-icon__placeholder, .search-select-container .search-select__control .search-select__placeholder {
    opacity: .5;
    font-size: 14px;
    color: #465166;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.css-151xaom-placeholder {
    color: rgb(128, 128, 128);
    margin-left: 5px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    box-sizing: border-box;
}
.search-select__placeholder {
    font-size: 16px!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}element.style {
    display: inline-block;
}
.ml-0, .mx-0 {
    margin-left: 0!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
._23XSz {
    padding-left: 0;
    padding-right: 15px;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
._1DywR {
    min-height: 46px;
    border-radius: 5px;
    border: 1px solid #dde5eb;
    background-color: #fff;
    line-height: 20px;
    text-align: center;
    margin-top: 16px;
    padding: 13px 16px;
    font-size: 16px;
    font-weight: 700;
    color: #465166;
    cursor: pointer;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.css-1pcexqc-container {
    position: relative;
    box-sizing: border-box;
}
._3Me35 .innerRow {
    width: 100%;
    max-height: 245px;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 0 4px 8px 0 rbga(0,0,0,.7);
    box-shadow: 0 4px 8px 0 rbga(0,0,0,.7);
}
.p-0 {
    padding: 0!important;
}
@media (min-width: 768px)
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.d-block {
    display: block!important;
}
.ml-0, .mx-0 {
    margin-left: 0!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.css-1pcexqc-container {
    position: relative;
    box-sizing: border-box;
}
.search-select-container .search-select-no-icon__control, .search-select-container .search-select__control {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #dde5eb;
    background-color: #fff;
    font-size: 14px;
    color: rgba(70,81,102,.5);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}
.search-select-container .search-select__control {
    padding-left: 31px;
}
<style>
.css-bg1rzq-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}
.css-1hwfws3 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.search-select__value-container {
    padding-left: 0!important;
}
.search-select__value-container {
    padding: 2px 8.5px;
}
.search-select-container .search-select__indicators {
    display: none;
}
<style>
.css-1wy0on6 {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}
.css-bgvzuu-indicatorSeparator {
    align-self: stretch;
    background-color: rgb(204, 204, 204);
    margin-bottom: 8px;
    margin-top: 8px;
    width: 1px;
    box-sizing: border-box;
}
.search-select-container .search-select__indicators .search-select__dropdown-indicator {
    padding: 12px 8px;
}
<style>
.css-16pqwjk-indicatorContainer {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}
.css-19bqh2r {
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
*, ::after, ::before {
    box-sizing: border-box;
}
svg[Attributes Style] {
    height: 20;
    width: 20;
}
user agent stylesheet
svg:not(:root) {
    overflow: hidden;
}
<style>
.css-16pqwjk-indicatorContainer {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}
.css-19bqh2r {
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0;
}
.search-select-container .search-select__menu-list {
    padding: 0;
    max-height: 230px;
    word-wrap: break-word;
}
<style>
.css-11unzgr {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    box-sizing: border-box;
}
.search-select-container .search-select__option {
    font-size: 16px;
    font-weight: 500;
    padding: 14px 32px;
    border-bottom: 1px solid #dde5eb;
}
.search-select-container .search-select__option {
    background-color: transparent;
    color: #465166;
}
<style>
.css-fk865s-option {
    background-color: transparent;
    color: inherit;
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
.search-select-container .search-select__option--is-focused {
    background: rgba(234,239,243,.5);
}
.yearRow .search-select-container .search-select__menu {
    z-index: 0;
}
.search-select-container .search-select__menu {
    -webkit-box-shadow: 0 5px 13px -2px rgb(0 0 0 / 10%);
    box-shadow: 0 5px 13px -2px rgb(0 0 0 / 10%);
    border: 1px solid #dde5eb;
    border-radius: 5px;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 99;
}
<style>
.css-kj6f9i-menu {
    top: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px, rgb(0 0 0 / 10%) 0px 4px 11px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.search-select-container .search-select__menu-list {
    padding: 0;
    max-height: 330px;
    word-wrap: break-word;
}
<style>
.css-11unzgr {
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    box-sizing: border-box;
}
.search-select-container .search-select__option {
    font-size: 16px;
    font-weight: 500;
    padding: 14px 32px;
    border-bottom: 1px solid #dde5eb;
}
.search-select-container .search-select__option--is-selected {
    background: linear-gradient(
261deg
,rgba(246,155,0,.18824),rgba(237,106,0,.18824));
    border: 1px solid #ed6a00!important;
    border-right-width: 0!important;
    color: #465166;
}
.search-select-container .search-select__option {
    background-color: transparent;
    color: #465166;
}
<style>
.css-xo7z33-option {
    background-color: rgb(38, 132, 255);
    color: rgb(255, 255, 255);
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
.search-select-container .search-select__option {
    font-size: 16px;
    font-weight: 500;
    padding: 14px 32px;
    border-bottom: 1px solid #dde5eb;
}
.search-select-container .search-select__option--is-focused {
    background: rgba(234,239,243,.5);
}
.search-select-container .search-select__option {
    background-color: transparent;
    color: #465166;
}
<style>
.css-dpec0i-option {
    background-color: rgb(222, 235, 255);
    color: inherit;
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
._2LG6h {
    position: absolute;
    bottom: 10px;
    font-size: 18px;
    color: #465166;
    font-weight: 500;
    width: 100%;
}
.pl-0, .px-0 {
    padding-left: 0!important;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.css-1szy77t-control:hover{
    border: 1px solid #dde5eb;
}
.css-1szy77t-control{
    -webkit-box-align:center;
    align-items: center;
    background-color: rgb(255,255,255);
    border-color: rgb(38,132,255);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgb(38,132,255) 0px 0px 0px 1px;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack:justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    outline: 0px !important;
}
.search-select-container .search-select-no-icon__control, .search-select-container .search-select__control {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #dde5eb;
    background-color: #fff;
    font-size: 14px;
    color: rgba(70,81,102,.5);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}
.css-1hwfws3 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.search-select__value-container {
    padding-left: 0!important;
}
.search-select__value-container {
    padding: 2px 8.5px;
}
.search-select-container
.search-select__control--menu-is-open{
    border:1px solid #dde5eb;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-box-shadow:0 5px 13px -2px rgb(0 0 0 / 10%);
    box-shadow: 0 5px 13px -2px rgb(0 0 0 / 10%);
}
.serach-select-container
.serach-select-no-icon__control,.serach-select-container .serach-select__control{
    width: 100%;
    height: 48px;
    border-radius: 5px;
    border:1px solid #dde5eb;
    background-color: #fff;
    font-size: 14px;
    color:rgb(70,81,102,.5);
    -webkit-box-shadow:0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}
